<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Оплата прошла</title>
</head>

<body>
    <h2>Спасиб за Ваш заказ</h2>
    <p>Оплата по заказу <strong>Order #{{ order.id }}</strong> успешно прошла.</p>

    <h3>Детали заказа:</h3>
    <ul>
        {% for item in order.items.all %}
        <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.price }}</li>
        {% endfor %}
    </ul>

    <p><strong>Сумма заказа:</strong> {{ order.get_total_cost }} RUB</p>

    <p>Детали заказа доступны <a href="{{ site_url }}{% url 'orders:order_detail' order.id %}">здесь</a>.</p>

    <p>Спасибо за то что вы с нами!</p>
</body>

</html>
