<div class="card mb-4">
    <div class="card-header">
        Категории
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            {% for category in categories %}
            <li class="mb-2">
                <a href="{% url 'blog:category_article_list' category.slug %}" class="text-decoration-none">
                    {{ category.name }} ({{ category.article_count }})
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Популярный статьи
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            {% for article in popular_articles %}
            <li class="mb-2">
                <a href="{% url 'blog:article_detail' article.slug %}" class="text-decoration-none">
                    {{ article.title }}
                </a>
                <small class="text-muted d-block">{{ article.view_count }} views</small>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
