{% extends "base.html" %}

{% block title %}{{ category.name }} Articles - Microgreens Store{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="mb-4">Articles in "{{ category.name }}"</h1>

            {% for article in articles %}
            <div class="card mb-4">
                {% if article.image %}
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">
                        <a href="{% url 'blog:article_detail' article.slug %}" class="text-decoration-none">
                            {{ article.title }}
                        </a>
                    </h2>
                    <p class="text-muted">
                        Posted on {{ article.published_at|date:"F j, Y" }} by {{ article.author.get_full_name }}
                    </p>
                    <p class="card-text">{{ article.short_description }}</p>
                    <a href="{% url 'blog:article_detail' article.slug %}" class="btn btn-primary">
                        Read More
                    </a>
                </div>
            </div>
            {% endfor %}

            {% include 'includes/_pagination.html' %}
        </div>

        <div class="col-lg-4">
            {% include 'blog/_sidebar.html' %}
        </div>
    </div>
</div>
{% endblock %}
